/*app setup*/

.App {
  text-align: center;
}

.nav {
  display: flex;
  list-style-type: none;
}

.navItem {
  padding-right: .5rem;
}

.navItem a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  border-radius: 2px;
  width: 48%;
  padding: .5rem;
}

hr {
  color: lightgray;
}

/*mocking this element for now for layout purposes*/
#reviewsBlock {
  background-color: lightgray;
  height: 8rem;
  width: 99%;
  margin: .5rem 0;
}

/* display classes*/
.flex {
  display: flex;
}

.flexStart {
  display: flex;
  justify-content: flex-start;
}

.flexCenter {
  display: flex;
  justify-content: center;
}

.flexSpaceBetween {
  display: flex;
  justify-content:space-between;
}

.inlineBlock {
  display: inline-block;
}

.inline {
  display: inline;
}

.displayNone {
  display: none;
}

/*margins*/
.smallLeftMargin {
  margin-left: .5rem;
}

.smallRightMargin {
  margin-right: .5rem
}

/*text-related classes TODO: change out color keywords for appropriate hex or rgba values */
.text10px {
  font-size: 10px
}

.text14px {
  font-size: 14px
}

.text18px {
  font-size: 18px;
}

.text24px {
  font-size: 24px;
}

.grayText {
  color: gray;
}

.redText {
  color: red;
}

.whiteText {
  color: whitesmoke;
}

.textAlignCenter {
  text-align: center;
}

.textAlignLeft {
  text-align: left;
}

/*background colors TODO: change out color keywords for appropriate hex or rgba values */
.redBkg {
  background-color: red;
}

.blackBkg {
  background-color: black;
}

@keyframes carouselTransition {
  /*TODO: make image carousel transition prettily */
}

@media (min-width: 680px) {
  #productPageContainer {
    padding: 1rem;
   }

    #topRowFlexContainer {
      display: flex;
    }

    #titleAndImagesBlock, #priceButtonsAndHighlightsBlock, #reviewsBlock {
      width: 50%;
      margin: .5rem;
    }
}

@media (min-width: 1000px) {
    #productPageContainer {
      padding: 1.5rem 4rem .5rem 4rem;
    }
}
